.productTabContainer {
    margin: 50px auto;
    max-width: 1400px;
}
.productTabContainer ul {
    padding: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.productTabContainer ul li{
    background-color: #0094da;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    list-style: none;
}

.productBreadcrumbContainer {
    margin: 50px auto;
    max-width: 1400px;
}

.productBreadcrumbContainer Container span.active {
    background-color: #104193;
}

.productBreadcrumbContainer span {
    margin: 0 10px;
}

.productContentContainer {
    margin: 0 auto 100px 0;
}

.productContentContainer  table {
    color: #363636;
}

.productContentContainer  tr {
   display: flex;
}

.productContentContainer  h3 {
   font-size: 28px;
   padding-top: 30px;
}

.productContentContainer span {
   display: block;
   margin: 50px 0 25px 0 !important;
}

.productContentContainer  table:nth-child(2n -1) {
   background: #F6F6F6;
}

.productContentContainer table tr td {
   padding: 0 20px;
}

.productContentContainer tbody {
   display: block;
   max-width: 1400px;
   margin: 45px auto;
}

.productContentContainer tbody hr {
   border: none;
   border-top: 1px solid #363636;
   margin-bottom: 15px;
}

@media screen and (max-width: 980px) {
  .productContentContainer img {
    width: 100% !important;
    height: auto !important;
  }

  .productContentContainer h3 {
   margin-bottom: 30px;
  }

  .productContentContainer hr {
   margin-top: 25px;
  }

  .productContentContainer p {
    margin-bottom: 30px;
  }

  .productContentContainer table {
    margin: 0;
  }

  .productContentContainer table tr td {
    width: 100%;
  }

  .productContentContainer table tbody {
   margin: 0;
  }

  .productContentContainer table tbody tr {
   flex-direction: column;
  }

  .productContentContainer table tr td {
    width: 100% !important;
    padding: 0 20px;
  }

  .productContentContainer table:nth-child(2n -1) tr td:nth-child(2n) {
    order: 1;
  }

  .productContentContainer table:nth-child(2n -1) tr td:nth-child(2n -1) {
    order: 2;
  }

  .productContentContainer table:nth-child(2n) tr td:nth-child(2n) img {
    width: auto !important;
    margin-bottom: 25px;
  }
}
